/*p {
    color: blue;
    background-color: violet;
    font-size: 20px;
    font-weight: bold;
    font-family: "Playwrite AR Guides", cursive;
    text-align: justify;
    width: 500px;
    height: fit-content;
    padding: 20px;
    margin-top: 100px;
    border: 10px solid black;
    box-sizing: border-box;
}
        #unico{
            color: blue;
            background-color: violet;
            font-size: 20px;
            font-weight: bold;
            font-family: "Playwrite AR Guides", cursive;
            text-align: justify;
            width: 500px;
            height: fit-content;
            padding: 20px;
            margin-top: 100px;
            border: 10px solid black;
            box-sizing: border-box;
        }
        #texto{
            color: blue;
            background-color: violet;
            font-size: 20px;
            font-weight: bold;
            font-family: "Playwrite AR Guides", cursive;
            text-align: center;
            width: 500px;
            height: fit-content;
            padding: 20px;
            margin-top: 100px;
            border: 10px solid black;
            box-sizing: border-box;
        }*/

body{
    background-color: rgb(161, 28, 28);
    padding: 0PX;
    margin: 0PX;
    text-align: center;
    justify-items: center;


}



.menu{
    background-color: darkgreen;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: end;
    box-shadow: 10px 00px 50px  black ;
    margin-bottom: 100PX;
    border-color: 5px black;
    align-items: center;
  
  
}   


a{
    color: white;
    font-size: 21px;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    
}

h1{

    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    color: blueviolet;
   

}

#nombre{
    text-align: center;
}


.estudios{
    background-color: rgb(235, 236, 178);
    width: 600px;
    height: 800px;
    
    justify-content: center;
    align-items: center;
  
}

ol{
    width: 300px;
    height: 200px;
}



#mas{
    background-color: aquamarine;
    width: 300px;
    height: 250px;
    align-content: center;
    box-shadow: 13px -3px 12px rgba(0,0,0,0.5);
    margin-top: 20px;
    margin-bottom: 20px;
    
    li{
        font-size: 10px;
    }
    p{
       font-size: 10px; 
    }
    h2{
        text-align: center;
    }
}


.galeria{
    background-color: blueviolet;
    width: 1000px;
    height: 600px;
    margin-top: 100px;
    display: flex;
    align-content: center;
    justify-content: center;

}


img{
    width: 300px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 13px -3px 12px rgba(0,0,0,0.5);
}


footer{
    text-align: center;
}